<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.jss.dao.TeacherDao">
  <resultMap id="TeacherMap" type="com.hust.jss.entity.Teacher">
    <id column="tea_id" jdbcType="CHAR" property="teaId" />
    <result column="tea_name" jdbcType="CHAR" property="teaName" />
    <result column="tea_pwd" jdbcType="VARCHAR" property="teaPwd" />
  </resultMap>
  <sql id="Base_Column_List">
    tea_id, tea_name, tea_pwd
  </sql>
  <select id="selectByTeaId" parameterType="java.lang.String" resultMap="TeacherMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
    where tea_id = #{teaId,jdbcType=CHAR}
  </select>
   <select id="selectAllTeacher" resultMap="TeacherMap">
    select 
    <include refid="Base_Column_List" />
    from teacher
  </select>
  
  <delete id="deleteByTeaId" parameterType="java.lang.String">
    delete from teacher
    where tea_id = #{teaId,jdbcType=CHAR}
  </delete>
  
  <insert id="insert" parameterType="com.hust.jss.entity.Teacher">
    insert into teacher (tea_id, tea_name, tea_pwd
      )
    values (#{teaId,jdbcType=CHAR}, #{teaName,jdbcType=CHAR}, #{teaPwd,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.hust.jss.entity.Teacher">
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="teaName != null">
        tea_name,
      </if>
      <if test="teaPwd != null">
        tea_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teaId != null">
        #{teaId,jdbcType=CHAR},
      </if>
      <if test="teaName != null">
        #{teaName,jdbcType=CHAR},
      </if>
      <if test="teaPwd != null">
        #{teaPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByTeaIdSelective" parameterType="com.hust.jss.entity.Teacher">
    update teacher
    <set>
      <if test="teaName != null">
        tea_name = #{teaName,jdbcType=CHAR},
      </if>
      <if test="teaPwd != null">
        tea_pwd = #{teaPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where tea_id = #{teaId,jdbcType=CHAR}
  </update>
  
  <update id="updateByTeaId" parameterType="com.hust.jss.entity.Teacher">
    update teacher
    set tea_name = #{teaName,jdbcType=CHAR},
      tea_pwd = #{teaPwd,jdbcType=VARCHAR}
    where tea_id = #{teaId,jdbcType=CHAR}
  </update>
</mapper>